
<form  action="/Home/inserir/redirect" method="get">
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span  class="input-group-text" id="inputGroup-sizing-default">Nome</span>
  </div>
  <input name="nome" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Sobrenome</span>
  </div>
  <input type="text" name="sobrenome" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
<button type="submit" class="btn btn-primary">Inserir</button>
</form>